@theme {
  --color-primary: #c8ff71;
  --color-primary-foreground: #11130f;
  --color-secondary: #d4ff85;
  --color-background: #121212;
  --color-surface: #1d1d1d;
  --color-surface-elevated: #262626;
  --color-foreground: #ffffff;
  --color-muted-foreground: #ffffff94;
  --color-border: #ffffff1a;
  --color-success: #61bd67;
  --color-warning: #eab532;
  --color-danger: #f94144;
  --color-info: #65c6e4;
  --color-cyan: #91fdff;
  --font-h1: "MiSansVF";
  --font-h2: "MiSansVF";
  --font-body-md: "MiSansVF";
  --font-body-sm: "MiSansVF";
  --font-caption: "MiSansVF";
  --font-mono: "Geist Mono";
  --text-h1: 2rem;
  --text-h2: 1.125rem;
  --text-body-md: 0.875rem;
  --text-body-sm: 0.8125rem;
  --text-caption: 0.6875rem;
  --text-mono: 0.8125rem;
  --tracking-h1: -0.02em;
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-body-md: 400;
  --font-weight-body-sm: 400;
  --font-weight-caption: 500;
  --radius-sm: 7px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 17px;
  --radius-2xl: 22px;
  --radius-full: 9999px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;
}
